@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@layer base {
  html {
    background-color: #02020e;
    color: #e2e8f0;
  }
  
  body {
    font-family: var(--font-sans);
    /* min-height: 100vh;  height will now be handled by the group layouts. */ 
  }
}